<launch>
	<arg name="physics" default="ode"/>
	<arg name="paused" default="false"/>
	<arg name="verbose" default="false"/>
	<arg name="model" default="hummingbird"/>
	<arg name="world_name" default="$(find gazebo_ros)/worlds/empty.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  	<arg name="paused" value="$(arg paused)"/>
	<arg name="physics" value="$(arg physics)"/>
	<arg name="verbose" value="$(arg verbose)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>
  
</launch>