<launch>
	<arg name="model"/>

	<rosparam file="$(find rofous_description)/config/$(arg model)_control.yaml" command="load"/>

	<node name="controller_spawner" pkg="controller_manager" type="spawner" 
		respawn="false" output="screen" 
		args="
			rotor_0_joint
			rotor_1_joint
			rotor_2_joint
			rotor_3_joint
			joint_state_controller"
	/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/$(arg model)/joint_states"/> 
	</node> 
	
</launch>