<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Transmission macro -->
  <xacro:macro name="SimpleTransmissionEffort" params="joint n">
    <transmission name="tran${n}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor${n}">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- Transmission 1 -->
  <xacro:SimpleTransmissionEffort n="0" joint="rotor_0_joint" />

  <!-- Transmission 2 -->
  <xacro:SimpleTransmissionEffort n="1" joint="rotor_1_joint" />

  <!-- Transmission 3 -->
  <xacro:SimpleTransmissionEffort n="2" joint="rotor_2_joint" />

  <!-- Transmission 4 -->
  <xacro:SimpleTransmissionEffort n="3" joint="rotor_3_joint" />

</robot>